@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1136px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.site-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.site-header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-header__left .site-logo__wrapper {
  margin-right: 26px;
}

.site-header__left .site-logo__wrapper img {
  display: inline-block;
}

.site-header__left .header-left__txt {
  color: #0096dc;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.site-header__center {
  display: inline-block;
  position: relative;
  padding: 15px;
  padding-left: 45px;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid #55a831;
  color: #55a831;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.site-header__center:hover {
  opacity: .8;
}

.site-header__center:active {
  opacity: .6;
}

.site-header__center::after {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translate(-10px, -50%);
          transform: translate(-10px, -50%);
  background-image: url(../../img/pen-ruler.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.site-header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 70px;
}

.work-day span {
  /* Style for "без выходн" */
  width: 95px;
  height: 14px;
  color: #333333;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  /* Text style for "без выходн" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.work-day p {
  margin: 0;
  padding: 0;
}

.contact-us P {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: right;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.contact-us a {
  text-decoration: none;
  color: #0089cc;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: right;
  text-decoration: underline;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
/*# sourceMappingURL=main.css.map */