@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  line-height: 1.5;
  margin-top: 117px;
}

img {
  max-width: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1130px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
}

.site-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-header__left .site-logo__wrapper {
  margin-right: 26px;
}

.site-header__left .site-logo__wrapper img {
  display: inline-block;
}

.site-header__left .header-left__txt {
  color: #0096dc;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.site-header__center {
  display: inline-block;
  position: relative;
  padding: 15px;
  padding-left: 45px;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid #55a831;
  color: #55a831;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.site-header__center:hover {
  opacity: .8;
}

.site-header__center:active {
  opacity: .6;
}

.site-header__center::after {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translate(-10px, -50%);
          transform: translate(-10px, -50%);
  background-image: url(../../img/pen-ruler.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.site-header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 70px;
}

.work-day span {
  /* Style for "без выходн" */
  width: 95px;
  height: 14px;
  color: #333333;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  /* Text style for "без выходн" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.work-day p {
  margin: 0;
  padding: 0;
}

.contact-us P {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: right;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.contact-us a {
  text-decoration: none;
  color: #0089cc;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: right;
  text-decoration: underline;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

@media only screen and (max-width: 1150px) {
  .header-left__txt {
    display: none;
  }
  .work-day {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .site-header__center {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media only screen and (max-width: 646px) {
  .contact-us {
    display: none;
  }
  .site-header__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .site-header__center {
    margin-right: 0;
    margin-left: auto;
  }
}

.primary-btn {
  cursor: pointer;
  padding: 0;
  margin: 0;
  padding: 30px 40px;
  border: none;
  background: none;
  -webkit-box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
          box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
  border-radius: 10px;
  border: 1px solid #ffc600;
  background-color: #e8e8e8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffed26), to(#ffb400));
  background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
  color: #000000;
  font-family: "Open Sans - Condensed Bold";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
}

.primary-btn:hover {
  opacity: .8;
}

.hero {
  min-height: 600px;
  background-image: url(../../img/hero-bg@2x.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 120px;
}

.hero-left__txt {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: left;
}

.hero-left__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 135px;
  color: #333;
  font-size: 55px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-left__stat {
  position: relative;
}

.hero-left__stat:first-child:before {
  width: 44px;
  height: 52px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../../img/hero-quality-img.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.hero-left__stat:nth-child(2):before {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 42px;
  height: 52px;
  background-image: url(../../img/hero-time_img.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.hero-left__stat:nth-child(3):before {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 42px;
  height: 52px;
  background-image: url(../../img/hero-election-event-on-a-calendar-with-star-symbol.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.hero-left__stat:nth-child(4):before {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 42px;
  height: 52px;
  background-image: url(../../img/delivery-truck-silhouette-img.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.hero-left__stat {
  width: 110px;
  height: 110px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 50px 22px  29px 24px;
  text-align: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: 1px solid #fff;
  background-color: #0d8fe3;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.hero-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 370px;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px 25px;
}

.hero-form__txt {
  padding: 0;
  margin: 0;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 9px;
}

.hero-form__heading {
  padding: 0;
  margin: 0;
  color: #333;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 40px;
}

.hero-form__input {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  color: #999999;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  border: 1px solid #d1d1d1;
}

.hero-btn {
  margin-bottom: 20px;
}

.hero-form__span {
  color: #666666;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.balcon__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.balcon__heading {
  margin: 0;
  padding: 0;
  position: relative;
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 79px;
}

.balcon__heading::after {
  width: 170px;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 23px);
          transform: translate(-50%, 23px);
  background-image: url(../../img/line.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.balcon__windows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 83px;
}

.balcon-windows__item {
  width: 137px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.balcon-windows__item img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}

.balcon-windows__item p {
  color: #464646;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.block-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
}

.balcon-windows__block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 5px solid #0d8fe3;
}

.block-item__heading {
  padding: 0;
  margin: 0;
  color: #0d8fe3;
  font-size: 20px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

.balcon-windows__block-item:nth-child(1) {
  max-width: 585px;
  padding: 40px 50px;
  border-radius: 5px 0 0 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 141, 227, 0.1)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to bottom, rgba(13, 141, 227, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

.balcon-windows__block-item:nth-child(2) {
  max-width: 591px;
  padding: 40px 50px;
  border-radius: 5px 0 0 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 185, 3, 0.1)), color-stop(1%, rgba(255, 185, 3, 0.99)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to bottom, rgba(255, 185, 3, 0.1) 0%, rgba(255, 185, 3, 0.99) 1%, rgba(255, 255, 255, 0) 100%);
}

.our-work__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-work__heading {
  margin-bottom: 80px;
}

.img-list {
  margin-right: -30px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-wrap: wrap;
}

.img-list li {
  margin-bottom: 30px;
  overflow: hidden;
  cursor: pointer;
}

.img-list img {
  border-radius: 10px;
  width: 250px;
  height: 250px;
  display: inline-block;
  opacity: .9;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.img-list img:hover {
  opacity: 1;
}

.img-list img:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.img-list img::before {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 50%;
  content: "sddsdfs";
}
/*# sourceMappingURL=main.css.map */